# Copy this content to .env.local or .env in the same folder
NEXT_PUBLIC_SOLANA_RPC=https://black-radial-telescope.solana-devnet.quiknode.pro/3df62193cc3dcbe757d987ae17230cb405855a51
NEXT_PUBLIC_IDENTITY_PROGRAM_ID=GjRYbLkypR51mhWpYEj5py7tfi1b3VPR3Hk51yYytSvd
